<h3 class="bg-danger p-1 text-white">
 {{getName()}} To Do List
</h3>
<div class="my-1" >
  <input class="form-control" #todotext/>
  <button class="btn btn-primary mt-1" (click)="addItem(todotext.value)">
    Add New Task
  </button>
</div>

<table>
<thead>
   <tr>
    <th>index</th><th>Tasks</th><th>Action</th><th>Status</th>
   </tr>
</thead>
<tbody>
  <tr *ngFor="let item of getToDoItems();let i=index">
      <td>{{i+1}}</td>
      <td>{{item.action}}</td>
      <td>
        <!-- two way data binding   -->
        <input type="checkbox" [(ngModel)]="item.done" />
      </td>
      <td [ngSwitch]="item.done">
            <span *ngSwitchCase="true">YES</span>
            <span *ngSwitchDefault>NO</span>
      </td>

  </tr>
</tbody>

</table>

<router-outlet></router-outlet>
